@font-face {
    font-family: Young Serif;
    src: url(../assets/fonts/young-serif/YoungSerif-Regular.ttf);
}
@font-face {
    font-family: Outfit;
    src: url(../assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
}

body {
    font-family: Outfit, sans-serif;
    background: hsl(30, 54%, 90%);
    width: 1440px;
}

ul {
    list-style: square;
}

#container {
    background: hsl(0, 0%, 100%);
    width: 720px;
    margin: 50px auto;
    padding: 40px;
    border-radius: 15px;
    color: hsl(30, 10%, 34%);
}

#omelette img{
    width: 720px;
    height: 300px;
    border-radius: 15px;
}

.weight {
    font-weight: 700;
}

.young-serif {
    font-family: "Young Serif", sans-serif;
    color: hsl(14, 45%, 36%);
}

#title {
    font-family: "Young Serif", sans-serif;
    color: hsl(24, 5%, 18%);
}

#preparation {
    background: hsl(330, 100%, 98%);
    border-radius: 10px;
    padding: 10px 30px;
}

#preparation h3 {
    color: hsl(332, 51%, 32%);
}

ul#preparation-time li,
ul#preparation-ingredients li,
ol#instructions-list li {
    padding: 5px;
}

#ingredients,
#instructions {
    border-bottom: 1px solid hsl(30, 18%, 87%);
    margin: 30px 0;
}

.color {
   color: hsl(14, 45%, 36%);
   font-weight: 600;
}

table {
    font-size: 18px;
}

td {
    padding-left: 25px;
    padding-right: 230px;
    line-height: 45px;
    border-bottom: 1px solid hsl(30, 18%, 87%);
}